<h1>welcom ejs!</h1>
<%- include('./admin/test2') %> <%= a %> <% if (a>5) { %>
<h3>thoa man</h3>
<% } else { %>
<h3>khong thoa man</h3>
<% } %> <% for( let i = 0; i < 6; i++ ) { %>
<h2>day la the h2 - <%= data %></h2>
<% } %>
